extends ../base.pug

block content
    div.upload__container
        div.upload__video
            video#preview
            button#actionBtn Start Recording
        if errorMessage
            span=errorMessage
        form(method="POST", enctype="multipart/form-data")
            label(for="title") Title
            input(id="title", name="title", placeholder="title", required, type="text", maxlength="80")
            label(for="description") Description
            input(id="description", name="description", placeholder="Description", required, type="text", minlength="2")
            label(for="hastags") Hashtags
            input(id="hastags", name="hashtags", placeholder="Hashtags, separated by comma.", required, type="text")
            label(for="video") Video File
            input(id="video", name="video", type="file", accept="video/*", required)
            label(for="thumb") Thumbnail File
            input(id="thumb", name="thumb", type="file", accept="image/*", required)
            input(type="submit", value="Upload Video")

block scripts 
    script(src="/static/js/recorder.js")