.edit-profile__option {
  margin-top: 50px;
  text-align: center;

  a {
    display: block;
    text-decoration: underline;
    margin-bottom: 10px;
  }

  a:nth-child(2) {
    color: $youtubeRed;
  }
}
