#home-container {
  display: flex;
  width: 100%;
  height: auto;
}

.video-grid {
  background-color: $mainBackground;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px 15px;
  padding: 20px 40px 20px 25px;
}

.video-grid--profile {
  width: 90% !important;

  .home-video {
    min-width: 15rem;
  }
}
