.profile__data {
  max-width: 26.25rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    margin-bottom: 0.625rem;
  }

  h3 {
    font-size: 1.125rem;
    margin-bottom: unset !important;
    font-weight: 600;
  }

  span {
    font-size: 0.875rem;
    margin-top: 0.313rem;
    color: $youtubeGray;
    font-weight: 500;
  }
}

.profile__additional-info {
  margin: 1.124rem 0;
}
