header {
  padding: 0.5rem 1.25rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  background-color: $navBackground;

  #logo-box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 33%;

    #button__nav {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 2.5rem;
      height: 2.5rem;
      font-size: 1.125rem;
      border-radius: 50%;
      margin-right: 0.813rem;
      cursor: pointer;
    }

    #button__nav:active {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  .header__logo {
    display: flex;
    justify-content: center;
    align-items: center;
    i {
      color: $youtubeRed;
      font-size: 1.625rem;
      margin-right: 0.1875rem;
    }
    span {
      font-size: 1.25rem;
      font-weight: 500;
    }
  }

  nav {
    width: 33%;

    ul {
      display: flex;
      justify-content: flex-end;
      align-items: center;

      li {
        margin-left: 0.938rem;
        font-size: 0.875rem;
        font-weight: 600;
        text-transform: uppercase;
      }

      i {
        font-size: 1rem;
      }
    }
  }

  .header__btn {
    color: white;
    padding: 0.313rem 0.625rem;
    border-radius: 0.313rem;
  }

  .header__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}
