@keyframes goAway {
  from {
    transform: none;
    opacity: 1;
  }
  to {
    transform: translateY(-50px);
    opacity: 0;
  }
}

.message {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 100px auto;
  max-width: 500px;
  padding: 10px 20px;
  border-radius: 25px;
  text-align: center;
  animation: goAway 0.5s ease-in-out forwards;
  animation-delay: 5s;
  &.error {
    background-color: $youtubeRed;
    color: white;
  }
  &.info,
  &.success {
    background-color: $aTagBlue;
    color: white;
  }
}
