#nav-box {
  width: 15.625rem;
  height: 94vh;
  background-color: $navBackground;
  position: fixed;
  z-index: 1;
  left: 0;
  box-sizing: border-box;
  overflow-y: scroll;

  .nav-menu__login {
    padding: 1.25rem 1.25rem 1.25rem 1.875rem;
    width: 14.375rem;
    border-bottom: 0.0625rem solid rgba(55, 55, 55, 1);
    box-sizing: border-box;
  }

  .nav-menu {
    width: 14.375rem;
    border-bottom: 0.0625rem solid rgba(55, 55, 55, 1);
    cursor: pointer;

    .nav-menu__title {
      display: inline-block;
      width: 100%;
      padding: 0.625rem 1.875rem;
      color: #aaa;
      box-sizing: border-box;
      cursor: default;
      font-weight: 600;
    }

    .nav-menu__notification {
      padding: 0.5rem 1.25rem 1.25rem 1.875rem;
      width: 14.375rem;
      border-bottom: 0.0625rem solid rgba(55, 55, 55, 1);
      box-sizing: border-box;

      span {
        color: $youtubeGray;
        font-weight: 500;
      }
    }

    .nav-menu__item {
      display: flex;
      align-items: center;
      height: 2.5rem;
      padding: 0 1.875rem;

      i {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.9375rem;
        margin-top: 0.313rem;
        font-size: 1.25rem;
        color: $navIcon;
        text-align: center;
      }

      .subscribe-avatar {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.9375rem;
        font-size: 1.25rem;
        border-radius: 50%;
      }

      span {
        font-size: 0.875rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    .nav-menu:last-child {
      border-bottom: none;
    }

    .nav-menu__item:first-child {
      margin-top: 0.625rem;
    }

    .nav-menu__item:last-child {
      margin-bottom: 0.625rem;
    }

    .nav-menu__item--subscribe {
      display: flex;
      align-items: center;
      height: 2.5rem;
      padding: 0 1.875rem;

      i {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.9375rem;
        font-size: 1.25rem;
        color: $navIcon;
      }

      .subscribe-avatar {
        width: 1.5rem;
        height: 1.5rem;
        margin-right: 0.9375rem;
        font-size: 1.25rem;
        border-radius: 50%;
      }

      span {
        font-size: 0.875rem;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }

    .subscribe-wrapper:last-child {
      display: block;
      margin-bottom: 0.625rem;
    }

    .nav-menu__item:hover,
    .nav-menu__item--subscribe:hover {
      background-color: #303030;
    }
  }
}

// side navigation scroll bar
/* total width */
#nav-box::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
  display: none;
}

/* background of the scrollbar except button or resizer */
#nav-box::-webkit-scrollbar-track {
  background-color: $navBackground;
}
#nav-box::-webkit-scrollbar-track:hover {
  // background-color: #f4f4f4;
}

/* scrollbar itself */
#nav-box::-webkit-scrollbar-thumb {
  background-color: #5f5f5f;
  border-radius: 16px;
  border: 4px solid $navBackground;
}

/* set button(top and bottom of the scrollbar) */
#nav-box::-webkit-scrollbar-button {
  display: none;
}

.showScrollbar {
  #nav-box::-webkit-scrollbar {
    display: block;
  }
}
