.search__wrapper {
  width: 33%;

  .search__form {
    align-items: unset !important;
    max-width: 600px;
    height: 30px !important;
    padding: 0 !important;
    display: flex;
    align-items: center;
    position: relative;
    border-radius: unset;
    border: unset;
    background-color: unset;

    input {
      max-width: 530px;
      height: 30px !important;
      border-top: 1px solid #494949 !important;
      border-left: 1px solid #494949 !important;
      border-bottom: 1px solid #494949 !important;
      border-top-left-radius: 3px;
      border-bottom-left-radius: 3px;
      background-color: $mainBackground !important;
    }

    button {
      all: unset;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 28px;
      width: 70px;
      background-color: #313131;
      border-top: 1px solid #494949 !important;
      border-right: 1px solid #494949 !important;
      border-bottom: 1px solid #494949 !important;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      cursor: pointer;

      i {
        color: #494949;
      }
    }

    button:hover {
      i {
        color: #989898;
      }
    }
  }
}
