doctype html
html(lang="ko")
    head
        title #{pageTitle} | Metube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body 
        block content
        include partials/footer.pug