extends base.pug
include mixins/video

block content
    div#home-container
        include partials/navigation
        div.empty-box
        div.video-grid
            each info in videos
                +video(info)
                +video(info)
                +video(info)
                +video(info)
                +video(info)
                +video(info)
                +video(info)
                +video(info)
            else
                span.empty__message No videos found

block scripts
    script(src="/static/js/previewVideo.js")