extends base.pug
include mixins/video

block content
    h2 Welcome here you'll see the trending videos
        each info in videos
            +video(info)
        else
            li Sorry nothing found.