/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

header {
  padding: 20px 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header__logo {
  color: #ff1300;
  font-size: 38px;
}
header ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header ul li {
  margin-left: 30px;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
header ul i {
  font-size: 16px;
}
header .header__btn {
  background-color: white;
  color: #191919;
  padding: 5px 10px;
  border-radius: 5px;
}
header .header__avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

footer {
  text-align: center;
  font-size: 12px;
  opacity: 0.8;
  margin-top: 50px;
}

.video-mixin .video-mixin__thumb {
  height: 140px;
  border-radius: 7px;
  width: 100%;
  background-color: ivory;
}
.video-mixin .video-mixin__data {
  padding: 0px 15px;
}
.video-mixin .video-mixin__data .video-mixin__title {
  font-size: 18px;
  display: block;
  margin-top: 10px;
}
.video-mixin .video-mixin__data .video-mixin__meta {
  margin-top: 5px;
  font-size: 12px;
}

.empty__message {
  margin-bottom: 50px;
  font-size: 18px;
}

.video_grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}

.video-grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.auth-switch {
  text-align: center;
  margin-top: 40px;
}
.auth-switch a {
  text-decoration: underline;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
}

form {
  max-width: 420px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

input:not(input[type=range]) {
  all: unset;
  padding: 15px 20px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: black;
  margin-bottom: 5px;
  color: white;
  width: 90%;
}
input:not(input[type=range])::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

input[type=submit],
.social__btn {
  border-radius: 5px;
  max-width: 420px;
  padding: 12px 20px;
  background-color: white;
  color: #ff1300;
  text-align: center;
  cursor: pointer;
  display: block;
}

.social-login {
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 40px;
  margin-top: 30px;
}
.social-login .social__btn--github {
  background-color: transparent;
  color: azure;
}

#videoContainer {
  position: relative;
  max-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#videoContainer video {
  width: 100%;
  height: 70vh;
}
#videoContainer #videoControls {
  opacity: 0;
  transition: opacity 0.3s ease;
  background-color: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  bottom: 0px;
}
#videoContainer #videoControls.showing {
  opacity: 1;
}
#videoContainer #videoControls #videoDuration {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 8px;
}
#videoContainer #videoControls #videoDuration #timeline {
  width: 100%;
}
#videoContainer #videoControls #videoFunctions {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  height: 100px;
}
#videoContainer #videoControls #videoFunctions button {
  all: unset;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#videoContainer #videoControls #videoFunctions button i {
  font-size: 25px;
}
#videoContainer #videoControls #videoFunctions #videoFunctions-left {
  display: flex;
}
#videoContainer #videoControls #videoFunctions #videoFunctions-left button:first-child {
  margin: 0 20px;
}
#videoContainer #videoControls #videoFunctions #videoFunctions-left button {
  margin-right: 20px;
}
#videoContainer #videoControls #videoFunctions #videoFunctions-left #volume {
  margin-right: 20px;
}
#videoContainer #videoControls #videoFunctions #videoFunctions-left #timetable {
  display: flex;
  justify-content: center;
  align-items: center;
}
#videoContainer #videoControls #videoFunctions #videoFunctions-right {
  display: flex;
}
#videoContainer #videoControls #videoFunctions #videoFunctions-right button {
  margin-right: 20px;
  transition: hover 0.2s ease;
}
#videoContainer #videoControls #videoFunctions #videoFunctions-right button i:hover {
  font-size: 30px;
}

.video_grid {
  display: grid;
  gap: 50px;
  grid-template-columns: repeat(4, 1fr);
}

.search__form {
  max-width: 420px;
  margin: 0 auto;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.search__form button {
  all: unset;
}
.search__form button {
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
  cursor: pointer;
}

.profile__data {
  max-width: 420px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}
.profile__data img {
  margin-bottom: 10px;
}
.profile__data h3 {
  font-size: 18px;
}

.edit-profile__form label {
  font-size: 14px;
  margin: 10px 0;
  display: block;
}

.edit-profile__password {
  margin-top: 50px;
  text-align: center;
}
.edit-profile__password a {
  text-decoration: underline;
}

a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: #191919;
  color: white;
}

main {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}
