extends ../base

block content
    div.default__container
        if(errorMessage)
            span=errorMessage
        form(method="POST")
            label(for="oldPassword") 현재 비밀번호
            input(id="oldPassword", name="oldPassword", type="password", placeholder="Old Password")
            label(for="newPassword") 새로운 비밀번호
            input(id="newPassword", name="newPassword", type="password", placeholder="New Password")
            label(for="newPassword2") 새로운 비밀번호 확인
            input(id="newPassword2", name="newPassword2", type="password", placeholder="New Password Confirmation")
            input(type="submit", value="Change Password")