extends ../base

block content 
    div.default__container
        h3 로그인
        if errorMessage
            span=errorMessage
        form(method="POST")
            label(for="username") 아이디
            input(id="username", name="username", type="text", placeholder="ID", required)
            label(for="password") 비밀번호
            input(id="password", name="password", type="password", placeholder="Password", required)
            input(type="submit", value="로그인")
            include ../partials/social-login
        div.auth-switch 
            span 아직 계정이 없으신가요? 
            a(href="/join") 회원가입하기